<!-- component -->
<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <%= turbo_frame_tag @produto, target: '_top', class:"lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" do %>
        <% if @imagem.attached? %>
            <%= image_tag(@imagem, class:"w-full object-cover object-center rounded border border-gray-200" ) %>
        <% end %>
        <%= form_with  url: "/produto."+@produto.id.to_s, method: :get, :class=>"flex flex-col sm:flex-row aling-items" do |form| %>
          <%= form.submit "0", :value=>0, :class => "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" %>
          <% if @produto.foto_01.attached? %>
            <%= form.submit "1", :value=>1, :class => "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" %>
          <% end %>
          <% if @produto.foto_02.attached? %>
            <%= form.submit "2", :value=>2, :class => "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" %>
          <% end %>
          <% if @produto.foto_03.attached? %>
            <%= form.submit "3", :value=>3, :class => "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" %>
          <% end %>
          <% if @produto.foto_04.attached? %>
            <%= form.submit "4", :value=>4, :class => "text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="grid md:grid-cols-2 text-sm">
           <h1 class="text-gray-900 text-2xl title-font font-medium mb-1  grid-cols-2"><%= @produto.nome %></h1>
            <span class="title-font font-sm text-2xl text-gray-900  grid-cols-2">R$ <%= @produto.preco_de_venda %></span>
        </div>

        <p class="leading-relaxed my-10"><%= @produto.descricao %></p>

      <%= link_to 'Voltar', :back, :class => "items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      </div>
    </div>
  </div>
</section>